trunk/YPPluginTests/TestFiles/common.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<!--elementFormDefault="qualified"
    xmlns="http://tempuri.org/XMLSchema.xsd"
    xmlns:mstns="http://tempuri.org/XMLSchema.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"			    -->

	<xsd:complexType name="Excerption">
		<xsd:sequence>	
			<xsd:element name="sourceFilePath" type="xsd:string" />
			<xsd:element name="startPos" type="xsd:nonNegativeInteger" />
			<xsd:element name="endPos" type="xsd:nonNegativeInteger" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>